body {
    background-color: white;
    max-width:390px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
}
img {
    width: 160px;
}
.btn {
    background: #4682B4;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;

}

.btn:hover {
    background: #9ACD32;
}

.usercard{
    background: #CD853F;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100px;
    margin-left: 120px;

}

#sumbit{
    background: #008000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: -10px;
}

#sumbit:hover{
    background: #FF7F50;
}